.mantine-Switch-track {
  border: none;

  @mixin light {
    --switch-bg: var(--mantine-primary-color-filled);
  }

  @mixin dark {
    --switch-bg: var(--mantine-color-dark-6);
  }
}

.mantine-Switch-thumb {
  border: none;
}

.mantine-Pagination-control[data-active] {
  background-color: var(--mantine-primary-color-filled);
  border-color: var(--bg-palette2);
}

.mantine-Modal-content, .mantine-Modal-body {
  height: 100%;
  width: 100%;
}