@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #0a0908;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f2f4f3;
  }
}

body {
  @apply bg-palette3 text-palette5 antialiased;
}

/* custom styling for logo */
.main-logo {
  fill: currentColor !important;
  stroke: currentColor !important;
}

.main-logo path {
  fill: currentColor !important;
}
